<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paju Adullam Church">
    <meta name="author" content="H.Kim">
    <title>:: 파주 아둘람교회 ::</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../static/dist/css/main.css" rel="stylesheet">
</head>
<body style="background-color:lightgray">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <img class="img-title" src="../static/img/menu/title.jpg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/page/welcome">
                    <img class="img-menu" src="../static/img/menu/welcome.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/introduce">
                    <img class="img-menu" src="../static/img/menu/introduce.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/worship">
                    <img class="img-menu" src="../static/img/menu/worship.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/sermon.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/gallery.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/news.jpg">
                </a>
            </li>
            </ul>
            <ul id="menu-s" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/page/welcome">
                    <img class="img-menu-s" src="../static/img/menu/welcome_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/introduce">
                    <img class="img-menu-s" src="../static/img/menu/introduce_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/worship">
                    <img class="img-menu-s" src="../static/img/menu/worship_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/sermon_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/gallery_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/news_s.jpg">
                </a>
            </li>
            </ul>
        </div>
    </nav>
    <main class="container-fluid bg-white" style="padding-bottom: 80px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="text-align: center; vertical-align: middle; background-color: black;">
                <div class="carousel-item active">
                    <img class="img-carousel" src="../static/img/bg/bg_n_03.jpg"/>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="font-weight-bold text-carousel">세상을 변화시키며, 민족을 치유하는 교회</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-carousel" src="../static/img/bg/bg_n_05.jpg"/>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="font-weight-bold text-carousel">세상을 변화시키며, 민족을 치유하는 교회</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-carousel" src="../static/img/bg/bg_n_06.jpg"/>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="font-weight-bold text-carousel">세상을 변화시키며, 민족을 치유하는 교회</h1>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="container-fluid my-4">
        <table style="width: 100%">
            <tr>
                <td>
                    <p class="mx-5">© 2019 Paju Adullam Church </p>
                    <p class="mx-5">
                        기독교대한감리회 아둘람교회<br>
                        담임목사 정주수 (H.P. 010-9013-0229, Email: theoman21c@gmail.com)<br>
                        (10892) 경기도 파주시 청암로 17번길 35 라온프라자 5층
                    </p>
                </td>
                <td>
                    <a href="http://cafe.daum.net/AdullamChurch" target="_blank">
                        <img class="mx-2 my-2" src="../static/img/icon/daumcafe.png" width="40">
                    </a>
                    <a href="https://www.facebook.com/theoman21c/" target="_blank">
                        <img class="mx-2 my-2" src="../static/img/icon/facebook.png" width="40">
                    </a>
                    <a href="https://www.youtube.com/channel/UCXZe6SLnxBSB0S6XBaxHK4g" target="_blank">
                        <img class="mx-2 my-2" src="../static/img/icon/youtube.jpg" width="40">
                    </a>
                </td>
            </tr>
        </table>
    </footer>

    <script src="../static/dist/js/jquery-3.4.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/dist/js/jquery-3.4.1.slim.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>