<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paju Adullam Church">
    <meta name="author" content="H.Kim">
    <title>:: 파주 아둘람교회 ::</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/dist/css/main.css" rel="stylesheet">
    
</head>
<body style="background-color:lightgray">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <img class="img-title" src="../static/img/menu/title.jpg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/page/welcome">
                    <img class="img-menu" src="../static/img/menu/welcome.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/introduce">
                    <img class="img-menu" src="../static/img/menu/introduce.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/worship">
                    <img class="img-menu" src="../static/img/menu/worship.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sermon">
                    <img class="img-menu" src="../static/img/menu/sermon.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/gallery.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/news.jpg">
                </a>
            </li>
            </ul>
            <ul id="menu-s" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/page/welcome">
                    <img class="img-menu-s" src="../static/img/menu/welcome_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/introduce">
                    <img class="img-menu-s" src="../static/img/menu/introduce_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/worship">
                    <img class="img-menu-s" src="../static/img/menu/worship_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sermon">
                    <img class="img-menu-s" src="../static/img/menu/sermon_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/gallery_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/news_s.jpg">
                </a>
            </li>
            </ul>
        </div>
    </nav>
    <main class="container-fluid bg-white" style="padding-bottom: 80px;">
        <div class="py-4" style="text-align: center;">
            <img class="img-page-title" src="../static/img/menu/introduce.jpg">
        </div>
        <div class="img-banner">
            <img src="../static/img/bg/bg_n_02.jpg">
        </div>
        <div class="row mx-3 my-4">
            <div class="col">
                <div class="card border-white text-center">
                    <div class="card-body">
                        <h5 class="card-title"><strong>교회 슬로건</strong></h5>
                        <p class="card-text">
                            "세상을 변화시키며 민족을 치유하는 교회"
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-3 my-4">
            <div class="col">
                <div class="card border-white text-center">
                    <div class="card-body">
                        <h5 class="card-title"><strong>교회 비전</strong></h5>
                        <p class="card-text">
                            사울에게 쫓기던 삶에 지친 다윗이 이른 곳, 아둘람<br>
                            그리고 모여든 이들이 있었으니 그들은 하나같이 환난당하고 빚진자들이었으며<br>
                            원통하고 억울한 삶에 처한 이들이었습니다.<br>
                            아둘람에서 함께 신앙공동체로 거듭난 그들의 회복과 변화는<br>
                            새로운 사명과 파송으로 이어졌습니다.<br>
                            오늘 우리 시대를 살아가는 모든 이들에게<br>
                            아둘람교회는 진정한 피난처로서의 회복과 변화를,<br>
                            참된 신앙공동체로서의 사명과 파송이 이어지길 꿈꿔 봅니다.<br>
                            아둘람교회는 복음의 심장이 뛰는 그리스도인을 세워가고자 합니다.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-3 my-4">
                <div class="col text-center">
                    <h5><strong>핵심 4가지</strong></h5>
                    <div class="row text-left">
                        <div class="col-md-6 my-3">
                            <div class="card card-core border-dark">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>회복</strong></h5>
                                    <p class="card-text">
                                        오늘 우리시대의 아픔은 잃어버림에 있습니다.
                                        어느 일부의 잃어버림 정도가 아닌, 모든 영역에 있어서 기준과 원칙, 원형이 훼손되었습니다.<br>
                                        <strong>아둘람교회는 결코 잃어버리지 말았어야 할 그 모든 것들에 대한 회복을 소망합니다.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="card card-core border-dark">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>변화</strong></h5>
                                    <p class="card-text">
                                        진정한 회복은 변화를 동반합니다.
                                        선명한 기준과 원칙을 통해 지향과 지양을 분명히 하며, 변화의 자리로 나아갈 것입니다.<br>
                                        <strong>아둘람교회는 결코 잃어버리지 말았어야 할 그 모든 것들에 대한 회복을 소망합니다.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col-md-6 my-3">
                            <div class="card card-core border-dark">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>사명</strong></h5>
                                    <p class="card-text">
                                        하나님의 사명으로 변화되면, 삶의 이유와 목적이 분명해집니다.
                                        그리스도인의 삶과 존재의 이유를 증명하며 선한 영향력의 책임을 다할 것입니다.<br>
                                        <strong>아둘람교회는 우리를 향한 하나님의 계획하심을 사명으로 받고 살아가길 소망합니다.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="card card-core border-dark">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>파송</strong></h5>
                                    <p class="card-text">
                                        믿음의 사람은 선한 능력을 소유케 됩니다.
                                        하나님의 부르심에 순종하며 어느 곳이든 파송받아 나아감에 조금의 두려움도 없습니다.<br>
                                        <strong>아둘람교회는 각자에게 주신 사명을 따라 민족과 열방을 향해 파송합니다.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-3 my-3">
            <div class="col text-center">
                <h5><strong>섬기는 사람들</strong></h5>
                <table style="width:92.5%;">
                    <tr style="">
                        <td>
                            <img class="img-profile bd-placeholder-img rounded-circle" src="../static/img/default_profile_0.jpg" alt=""/>
                            <p>담임목사 <strong>정주수</strong></p>
                        </td>
                        <td>
                            <img class="img-profile bd-placeholder-img rounded-circle" src="../static/img/default_profile_0.jpg" alt=""/>
                            <p>전도사 <strong>김향미</strong></p>
                        </td>
                        <td>
                            <img class="img-profile bd-placeholder-img rounded-circle" src="../static/img/default_profile_0.jpg" alt=""/>
                            <p>간사 <strong>양윤정</strong></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mx-3 my-4">
            <div class="col" style="text-align: center;">
                <h5><strong>오시는 길</strong></h5>
                <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk&amp;submodules=panorama,geocoder,drawing,visualization"></script>             
                <div class="container">
                    <div id="map" style="width:100%;height:600px;"></div>
                </div>
                <script id="code">
                    var HOME_PATH = window.HOME_PATH || '.';
                    var point = new naver.maps.LatLng(37.7290744, 126.7361399),
                        map = new naver.maps.Map('map', {
                            center: point.destinationPoint(0, 50),
                            zoom: 17
                        }),
                        marker = new naver.maps.Marker({
                            map: map,
                            position: point
                        });
                    var contentString = [
                            '<div class="container text-center" style="padding: 1rem;">',
                            '   <h4 class="font-weight-bold mapinfo">아둘람 교회</h4>',
                            '   <p class="mapinfo">경기도 파주시 청암로17번길 35 라온프라자 5층</p>',
                            '   <div class="btn-group" role="group" aria-label="Basic example">',
                            '      <a href="http://naver.me/IF6lrOkU" target="_sub"><button type="button" class="btn btn-success">Naver Map</button></a>',
                            '      <a href="http://kko.to/kxD2cN_0o" target="_sub"><button type="button" class="btn btn-warning">Kakao Map</button></a>',
                            '   </div>',
                            '</div>'
                        ].join('');
                    var infowindow = new naver.maps.InfoWindow({
                        content: contentString
                    });
                    naver.maps.Event.addListener(marker, "click", function(e) {
                        if (infowindow.getMap()) {
                            infowindow.close();
                        } else {
                            infowindow.open(map, marker);
                        }
                    });
                    infowindow.open(map, marker);
                </script>
            </div>
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="container-fluid my-4">
        <table style="width: 100%">
            <tr>
                <td>
                    <p class="mx-5">© 2019 Paju Adullam Church </p>
                    <p class="mx-5">
                        기독교대한감리회 아둘람교회<br>
                        담임목사 정주수 (H.P. 010-9013-0229, Email: theoman21c@gmail.com)<br>
                        (10892) 경기도 파주시 청암로 17번길 35 라온프라자 5층
                    </p>
                </td>
                <td>
                    <a href="http://cafe.daum.net/AdullamChurch">
                        <img class="mx-2 my-2" src="../static/img/icon/daumcafe.png" width="40">
                    </a>
                    <a href="https://www.facebook.com/theoman21c/">
                        <img class="mx-2 my-2" src="../static/img/icon/facebook.png" width="40">
                    </a>
                    <a href="https://www.youtube.com/channel/UCXZe6SLnxBSB0S6XBaxHK4g">
                        <img class="mx-2 my-2" src="../static/img/icon/youtube.jpg" width="40">
                    </a>
                </td>
            </tr>
        </table>
    </footer>

    <script src="../static/dist/js/jquery-3.4.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/dist/js/jquery-3.4.1.slim.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>