<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paju Adullam Church">
    <meta name="author" content="H.Kim">
    <title>:: 파주 아둘람교회 ::</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../static/dist/css/main.css" rel="stylesheet">
</head>
<body style="background-color:lightgray">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <img class="img-title" src="../static/img/menu/title.jpg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/page/welcome">
                    <img class="img-menu" src="../static/img/menu/welcome.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/introduce">
                    <img class="img-menu" src="../static/img/menu/introduce.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/worship">
                    <img class="img-menu" src="../static/img/menu/worship.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sermon">
                    <img class="img-menu" src="../static/img/menu/sermon.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/gallery.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu img-unavailable" src="../static/img/menu/news.jpg">
                </a>
            </li>
            </ul>
            <ul id="menu-s" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/page/welcome">
                    <img class="img-menu-s" src="../static/img/menu/welcome_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/introduce">
                    <img class="img-menu-s" src="../static/img/menu/introduce_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/worship">
                    <img class="img-menu-s" src="../static/img/menu/worship_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sermon">
                    <img class="img-menu-s" src="../static/img/menu/sermon_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/gallery_s.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="img-menu-s img-unavailable" src="../static/img/menu/news_s.jpg">
                </a>
            </li>
            </ul>
        </div>
    </nav>
    <main class="container-fluid bg-white" style="padding-bottom: 80px;">
        <div class="py-4" style="text-align: center;">
            <img class="img-page-title" src="../static/img/menu/sermon.jpg">
        </div>
        <div class="container">
            <ul class="nav justify-content-center">
{% for idx, t in tabs : %}
    {% if idx == tab : %}
            <li class="nav-item">
                <a class="nav-link" href="?t={{ idx }}"><h5>{{ t['ptitle'] }}</h5></a>
            </li>
    {% else : %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="?t={{ idx }}"><h5>{{ t['ptitle'] }}</h5></a>
            </li>
    {% endif %}
{% endfor %}
            </ul>
            <hr>
            <div class="row mx-3">
{% for v in videos : %}
                <div class="col-md-3 my-3" style="min-height: 100%;">
                    <a onclick="videoview(self, '{{ v['vtitle'] }}', '{{ v['vid'] }}');">
                    <div class="card" style="height: 100%">
                        <div style="overflow: hidden;">
                            <img src="{{ v['vthumbnail']['url'] }}" width="100%" class="card-img-top img-video" alt="">
                        </div>
                        <div class="px-3 py-2">
                            <p style="margin: 0;">
                                <small>{{ v['vtitle'] }}</small><br>
                            </p>
                            <p style="text-align: right; margin: 0;">
                                <small class="text-muted" >{{ v['vpubat'] }}</small>
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
{% endfor %}
                <div class="col-md-3 my-3" style="min-height: 100%;">
                    <a href="https://www.youtube.com/playlist?list={{ tabs[tab][1]['pid'] }}" target="_blank">
                    <div class="card" style="height: 100%">
                        <div class="px-3 py-2 text-center" style="width: 100%; height: 100%;">
                            <h5 class="text-muted" style="vertical-align: middle;"><br>더보기</h5>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <div id="videoModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 id="vModal-title" class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#vModal-iframe').attr('src', '');">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="m-2">
            <iframe id="vModal-iframe" width="100%" height="500px" src="" frameborder="0" allow="accelerometer; encrypted-media;" allowfullscreen></iframe>
        </div>
        </div>
    </div>
    </div>
    <!-- FOOTER -->
    <footer class="container-fluid my-4">
        <table style="width: 100%">
            <tr>
                <td>
                    <p class="mx-5">© 2019 Paju Adullam Church </p>
                    <p class="mx-5">
                        기독교대한감리회 아둘람교회<br>
                        담임목사 정주수 (H.P. 010-9013-0229, Email: theoman21c@gmail.com)<br>
                        (10892) 경기도 파주시 청암로 17번길 35 라온프라자 5층
                    </p>
                </td>
                <td>
                    <a href="http://cafe.daum.net/AdullamChurch" target="_blank">
                        <img class="mx-2 my-2" src="../static/img/icon/daumcafe.png" width="40">
                    </a>
                    <a href="https://www.facebook.com/theoman21c/" target="_blank">
                        <img class="mx-2 my-2" src="../static/img/icon/facebook.png" width="40">
                    </a>
                    <a href="https://www.youtube.com/channel/UCXZe6SLnxBSB0S6XBaxHK4g" target="_blank">
                        <img class="mx-2 my-2" src="../static/img/icon/youtube.jpg" width="40">
                    </a>
                </td>
            </tr>
        </table>
    </footer>

    <script src="../static/dist/js/jquery-3.4.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/dist/js/jquery-3.4.1.slim.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function videoview(obj, title, code){
            var url = "https://www.youtube.com/embed/" + code;
            $('#vModal-title').text(title);
            $('#vModal-iframe').attr('src', url);
            $('#videoModal').modal('show');
        }
    </script>
</body>
</html>